.match-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: flex-end;
  padding: 20px 0 10px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  justify-content: center;
  margin-top: 30px;
}

.match-title {
  width: 100%;
}

.match-box-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.match-box {
  min-height: 45px;
  width: 12rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}
.activeA {
  -webkit-box-shadow: #fff 0 -1px 4px, rgb(0, 255, 234) 0 -2px 10px,
    #00a2ff 0 -10px 20px, rgb(36, 123, 255) 0 -18px 40px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, rgb(0, 238, 255) 0 -2px 10px,
    #00a2ff 0 -10px 20px, rgb(36, 123, 255) 0 -18px 40px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #ecefcf;
}

.activeB {
  -webkit-box-shadow: #fff 0 -1px 4px, rgb(243, 200, 200) 0 -2px 10px,
    #fd4c4c 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, rgb(243, 200, 200) 0 -2px 10px,
    #fd4c4c 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #ecefcf;
}

.match-text {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.2em;
  padding: 0px 10px;
  margin-block-end: 0;
}

.button-true {
  background-color: white;
  display: inline-block;
}
.button-true:focus {
  background-color: white;
}

.button-false {
  background-color: #dc3545;
  display: inline-block;
}

.button-false:focus {
  background-color: #dc3545;
}

.table-responsive {
  margin-top: 5px;
}

@media only screen and (max-width: 500px) {
  .match-container {
    padding: 20px 10px 10px;
    width: 100%;
  }
  .match-button {
    margin: 0.5rem 0 0;
  }
  .clear-button {
    margin: 0 0 0.5rem 0;
  }
}
