.match-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: flex-end;
  padding: 20px 0 10px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  justify-content: center;
  margin-top: 30px;
}

.match-title {
  width: 100%;
}

.match-box-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.match-box {
  min-height: 45px;
  width: 12rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
}
.active {
  background-color: rgba(255, 243, 80, 0.589);
}

.match-text {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.2em;
  padding: 0px 10px;
  margin-block-end: 0;
}

.button-true {
  background-color: white;
  display: inline-block;
}
.button-true:focus {
  background-color: white;
}

.button-false {
  background-color: #dc3545;
  display: inline-block;
}

.button-false:focus {
  background-color: #dc3545;
}

.table-responsive {
  margin-top: 5px;
}

@media only screen and (max-width: 500px) {
  .match-container {
    padding: 20px 10px 10px;
    width: 100%;
  }
  .match-button {
    margin: 0.5rem 0 0;
  }
  .clear-button {
    margin: 0 0 0.5rem 0;
  }
}
